@font-face {
    font-family: 'AvenirNextLTProRegular';
    src: url('fonts/avenirnextltpro-regular.eot');
    src: url('fonts/avenirnextltpro-regular.eot') format('embedded-opentype'),
         url('fonts/avenirnextltpro-regular.woff2') format('woff2'),
         url('fonts/avenirnextltpro-regular.woff') format('woff'),
         url('fonts/avenirnextltpro-regular.ttf') format('truetype'),
         url('fonts/avenirnextltpro-regular.svg#AvenirNextLTProRegular') format('svg');
}

@font-face {
    font-family: 'AvenirNextLTProBold';
    src: url('fonts/avenirnextltpro-bold.eot');
    src: url('fonts/avenirnextltpro-bold.eot') format('embedded-opentype'),
         url('fonts/avenirnextltpro-bold.woff2') format('woff2'),
         url('fonts/avenirnextltpro-bold.woff') format('woff'),
         url('fonts/avenirnextltpro-bold.ttf') format('truetype'),
         url('fonts/avenirnextltpro-bold.svg#AvenirNextLTProBold') format('svg');
}
@font-face {
    font-family: 'PacificoRegular';
    src: url('fonts/pacifico.eot');
    src: url('fonts/pacifico.eot') format('embedded-opentype'),
         url('fonts/pacifico.woff2') format('woff2'),
         url('fonts/pacifico.woff') format('woff'),
         url('fonts/pacifico.ttf') format('truetype'),
         url('fonts/pacifico.svg#PacificoRegular') format('svg');
}
