/* .vesclear:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.vesclear {
	display: inline-block;
} */
 
html[xmlns] .vesclear {
	display: block;
}
 
* html .vesclear {
	height: 1%;
}

/**/
.colswrapper .itemcol{
	float:left;
	background:#FFF;
	width:100%;
}

.cols2 .itemcol{	width:45.2%;}
.cols3 .itemcol{	width:28%;}
.cols4 .itemcol{	width:22%;}
.cols5 .itemcol{	width:18%;}

.blog-tags{
	background:url(ico-tag.gif) no-repeat 0 4px;
	padding-left:19px
}
.ves-description{	margin:0px 0px 15px 0; display:inline-block;}
/* CATEGORY PAGE */
.blog-list .blog-childrent{	padding-bottom:16px;}

.blog-list  .blog-image{ margin:0 0 10px; position:relative}
.blog-list .blog-botm{
	border-top:solid 1px #E5E5E5;
	color:#333;
	font-size:93%
}

/* DETAIL BLOG */
span.created-date,
span.author
{
    color: #333;
    font-size: 13px;
}

.blog-post .blog-container{
	position:relative;
	padding-bottom:12px;
}

.blog-post div.blog-description {
  /*   font-size: 116%;
    font-weight: 700; */
}

.blog-post .blog-bottom > div {
    color: #333;
    font-size: 83%;
    margin-right: -1px;
    padding: 14px 0px;
}
.blog-post  .blog-bottom { border-top:1px solid  #DDD }
.blog-post .blog-social,
.blog-post .blog-comment, .blog-post .comment-form{ padding:8px 0px;}

.blog-post .above-inputs input{ width:100%;background:#F5F5F5 }
.blog-post .above-inputs .input-box{ width:98%}
.blog-post .above-inputs li{ width:48%; float:left; clear:none }
.blog-post .above-inputs  li.email{float:right}
.blog-post .mid-inputs textarea{ width:99%;height:160px; background:#F5F5F5 }
.blog-post input:focus,.blog-post textarea:focus{background:#FFF}

.blog-post .blog-social  .social-sharing > div{ float:left}

.blog-extra {padding:8px 0 }
.blog-extra > div{ width:50%; float:left; }

.pages > div{ float:left; }


.comments-list li{ display:block; position:relative; min-height:80px; padding:8px 12px; }
.comments-list li:hover{}
.comments-list li.odd{ background:#F5F5F5 }
.comments-list .comment-link{	float:right;	font-size:11px; display:none; }
.comments-list li:hover .comment-link{ display:block}
.post-comments .pager{ padding:12px 0px }

/** MODULES STYLES ***/
	/* LATEST BLOG */
.venus-latest-block{
	position:relative;
}
	.venus-latest-block .post-item{
		margin:8px 6px;
	}
	.venus-latest-block img{
		float:left;
		width:100%;
	}
	.venus-latest-block div.post-image{
	/* 	overflow:hidden;
		float:left;
		padding-right:8px; */
	}
/** CATEGORY MENU **/

.venus-blog-menu .parent span.head a
	{ 
		background:url(menu_down.png) no-repeat; 
		color:#333333;
		display:block;
		height:7px;
		margin-top:22px;	
		padding:0;
		width:7px;
	}
.venus-blog-menu span.selected a:hover 
	{ 
		color: #000;
		background: #f6f6f6 url(menu_down.png) no-repeat; 
		background-position: 98% 50%;		
	}
.venus-blog-menu span.selected a 
	{ 
		background:  url(menu_up.png) no-repeat; 
		background-position:98% 50%;
		color: #fff;
		padding:0px;
	}
.venus-blog-menu span.selected a:hover 
	{ 
		background: #69c url(menu_up.png) no-repeat; 
		background-position:98% 50%;
		color: #36a;
	}