<h4>List of Orders on from cornerShop to Storename </h4> <hr />
<a href="#/new" class="btn btn-primary">New</a>
  <br/><br/>
  <table class="display" id='ordersTable' width="100%" cellspacing="0">
    <thead>
      <tr>
        <th> Delivery Address </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <% _.each(orders, function(order) { %>
        <tr>
          <td><%= order.address %> <%= order.orderTime %> </td>
          <td>
            <table class="display" id='ordersTable' width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>ID</th><th>Item Name</th><th> Price</th><th>Quantity</th><th> Total </th><th> Status </th><th>Edit/Delete</th>
                </tr>
              </thead>
              <tbody>
                <% _.each(orders, function(order) { %>
                  <tr>
                    <td><%= order.id %></td>
                    <td><%= order.productName %></td>
                    <td><%= order.pricesell %></td>
                    <td><%= order.quantity %></td>
                    <td><%= (order.pricesell * order.quantity) %></td>
                    <td><%= order.status %></td>
                    <td><a class="btn" href="#/edit/<%= order.id %>">Edit</a></td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
